{% extends 'base.html'%}
{%import 'macros.html' as macro %}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- content block -->
{% block content %}
    <div class="container" id="landing">
        <h3>We bring various news sources around the globe to you</h3>
        <div class="card">
            <div class="card-header bg-dark">
                <h2 class="header text-center" style="color: whitesmoke;">TOP HEADLINES</h2>
            </div>
            <div class="card-body ">
                <div class="row">
                    {{macro.displayHeadlines(headlines)}}
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="header bg-dark text-center" style="color: whitesmoke;"><h2>TOP SOURCES</h2></div>
        <hr>
        <div class="row">
            {{macro.displaySources(sources)}}
        </div>
    </div>
{% endblock%}

