{% macro displaySources(sources_list)%}
    {%for source in sources_list%}
        <div class="col-md-4">
            <p class="text-center">
                <a href="/source/{{source.id}}">
                    {{source.name}}
                </a>
            </p>
        </div>
    {% endfor%}
{% endmacro %}
{% macro displayHeadlines(headlines_list)%}
        {%for headline in headlines_list%}
        <div class="col-md-6">
            <div class="card" style="margin: 3%;">
                <div class="card-header" style="color: brown;">
                    {{headline.title}}
                </div>
                <div class="card-body">
                    <img src="{{headline.image_url}}" alt="{{ headline.title}}" class="img-fluid">
                    <div class="text-center">
                        <p>
                            {{headline.description}}</p>
                            <a href="{{headline.link}}">...Read more</a>
                    </div>                    
                </div>            
            </div>
        </div>
        {% endfor%}
{% endmacro%}
{% macro displayArticles(articles_list)%}
    {% for article in articles_list %}
    <div class="col-md-4">
        <div class="card" style="margin: 3%;">
            <div class="card-header" style="color: brown;">
                {{article.title}}
            </div>
            <div class="card-body">
                <img src="{{article.image_url }}" alt="{{ article.title}}" class="img-fluid">
                <div class="text-center">
                    <p>
                        {{article.description|truncate(100)}}</p>
                        <a href="{{article.link}}">...Read more</a>
                </div>                    
            </div>            
        </div>

    </div>
    {% endfor%}
{% endmacro%}










