{% macro displaySources(sources_list)%}
    {%for source in sources_list%}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <li class="text-center">
                <a href="/source/{{source.id}}">
                    {{source.name}}</a>
            </li>
        </div>
    {% endfor%}
{% endmacro %}
<div class="row">

</div>
{% macro displayArticles(articles_list)%}
    {% for article in articles_list %}
    <div class="col-md-4">
        <div class="card" style="margin: 3%;">
            <div class="card-header" style="color: brown;">
                {{article.title}}
            </div>
            <div class="card-body">
                <img src="{{article.image_url }}" alt="{{ article.title}}" class="img-fluid">
                <div class="text-center">
                    <p>
                        {{article.description|truncate(100)}}</p>
                        <a href="{{article.link}}">...Read more</a>
                </div>                    
            </div>            
        </div>

    </div>
    {% endfor%}
    {% endmacro%}










