<div class="align-items-center fixed-top">
    <nav class = "navbar navbar-expand-sm navbar-light bg-primary">
        <a href="#index.html" class="navbar-brand align-right">News At</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navmenu">
            <span class="navbar-toggler-icon bg-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
            </ul>
        </div>            
    </nav>
</div>

